{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": { "configFile": "./.babelrc" },
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": "webpack", // this will follow webpack's resolve
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["import", "react"],
  "rules": {
    "no-console": "warn",
    "no-var": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "prefer-const": "error",
    // [START] eslint-plugin-react ---------------
    "react/react-in-jsx-scope": "off",
    "react/prefer-stateless-function": "error",
    "react/jsx-uses-react": "error",
    "react/boolean-prop-naming": "warn",
    "react/button-has-type": "warn",
    "react/prop-types": "off",
    "react/self-closing-comp": "error",
    "react/no-unused-state": "warn",
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react/no-deprecated": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/sort-comp": "warn",
    "react/jsx-no-target-blank": [
      "warn",
      { "allowReferrer": false, "enforceDynamicLinks": "always" }
    ],
    // [END] eslint-plugin-react ---------------

    // [START] eslint-plugin-import ---------------
    "import/no-unresolved": [2, { "ignore": ["(jpe?g|png|gif|svg)$"] }],
    "import/first": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": [""],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "path",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "never",
        "warnOnUnassignedImports": true
      }
    ]
    // [END] eslint-plugin-import ---------------
  }
}
