.container {
  background: url('Assets/images/large_img.jpg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

  .title {
    color: blue;
    font-size: 2rem;
  }
}
