@use 'Styles/variables';

.container {
  margin: auto;
  width: clamp(300px, 50%, 800px);
  background-color: variables.$primary-color;

  .link {
    color: variables.$secondary-color;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: cente;

    li {
      padding: 12px;
    }
  }
}
